<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td width="100%">
          <div style="max-width:600px;Margin:0 auto">
            <table
              align="center"
              cellpadding="0"
              cellspacing="0"
              style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:12px;width:100%;max-width:500px"
            >
              <tbody>
                <!-- body -->
                <tr>
                  <td>
                      <h4 style="font-size:18px;word-break:normal;text-align:center;margin-bottom:15px;">
                        Name:
                      </h4>

                      <p style="word-break:normal;text-align:center;padding-bottom:15px;border-bottom: 1px solid #ddd;">
                        <%= name %>
                      </p>
                      <br/>

                      <h4 style="font-size:18px;word-break:normal;text-align:center;margin-bottom:15px;">
                        Email:
                      </h4>

                      <p style="word-break:normal;text-align:center;padding-bottom:15px;border-bottom: 1px solid #ddd;">
                        <%= email %>
                      </p>
                      <br/>
                      
                      <h4 style="font-size:18px;word-break:normal;text-align:center;margin-bottom:15px;">
                        Message:
                      </h4>

                      <p style="word-break:normal;text-align:center;padding-bottom:15px;border-bottom: 1px solid #ddd;">
                        <%= message %>
                      </p>
                      <br/>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>